06_warehouse_orders_airtable_discord/06_warehouse_orders_airtable_discord.json
{
  "name": "06_warehouse_orders_airtable_discord",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "fa804fa5165a9feae3e25b3d9dd4da5f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -32
      ],
      "id": "317ca194-a021-4a55-bd60-aa6de2eae275",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "A9bzLQj9iMbshHGs",
          "name": "Nathan WareHouse api Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKQ11Brid5P0IY2",
          "mode": "list",
          "cachedResultName": "beginner course",
          "cachedResultUrl": "https://airtable.com/appKQ11Brid5P0IY2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6NFtP2ow17T6a",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appKQ11Brid5P0IY2/tblR6NFtP2ow17T6a"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        -128
      ],
      "id": "8c100c4b-6588-476c-94dc-24b5e7388308",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "nuCsRzXHSkmb5NaI",
          "name": "Airtable Token (Nathon)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -32
      ],
      "id": "47e6e179-20fa-43c2-8756-d766e7c1d8dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be54dea5-ca34-4647-bc5c-b45053c97596",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "c072209b-f54d-40c4-92ad-9e2380ac8869",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -128
      ],
      "id": "16f585da-023d-415f-b542-00afe07f44b1",
      "name": "Filter Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6362a067-7af3-47d4-8096-0f53683a60bc",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -32
      ],
      "id": "9302ccf6-fc27-4e44-9a75-51e3ee48da45",
      "name": "get processing orders"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        64
      ],
      "id": "07b774aa-84fe-4e69-9577-ed31d5fb5f6a",
      "name": "Calculate Booked Order Summary"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        512,
        64
      ],
      "id": "3110347a-8fda-4fbf-bb8d-64357de2ba78",
      "name": "Send Message to Discord",
      "webhookId": "9bebc027-cfec-43a4-954a-c0bdbec911fc",
      "credentials": {
        "discordWebhookApi": {
          "id": "P8hi4OyPsMgc0LSp",
          "name": "n8n Courese 01 Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Warehouse Orders → Airtable + Discord Summary\n\nRuns weekly; pulls processing orders via HTTP, filters & maps fields, creates Airtable records and posts a booked-orders summary to Discord.",
        "height": 128,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -208
      ],
      "typeVersion": 1,
      "id": "bb9634a5-0d35-4d85-97cc-be04d6050581",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "get processing orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Data": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get processing orders": {
      "main": [
        [
          {
            "node": "Filter Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Booked Order Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Booked Order Summary": {
      "main": [
        [
          {
            "node": "Send Message to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23ba452f-7439-4e01-9652-a99dfd1ce35a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd5a68f0c752ba0d64fcc13e181b705560ebcd91b307ae97c92329997aaef117"
  },
  "id": "cfbN5ffluU60pomv",
  "tags": []
}